{% extends "tickets/layout.html" %}

{% block body %}
    <h1>Pessenger Details:</h1>
    <div>
    <ul>
        <li>Name: {{ pessenger.pessenger_name }}</li>
        <li>Phone Number: {{ pessenger.phone_number }}</li>
        <li>Email: {{ pessenger.email }}</li>
    </ul>
    </div>

    <!-- <h2>Tickets:</h2>
    <div>
        <ol>
        {% for ticket in tickets %}
            <li>{{ ticket }}</li>
        {% empty %}
            <li><strong>No ticket is booked for <em>{{ pessenger.pessenger_name }}</em>!</strong></li>
        {% endfor %}
    </div> -->
    <a href="{% url 'tickets:pessenger_index' %}">Back to view all Pessengers</a>
{% endblock %}